.tablero {
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid red;
    padding: 10px;
    align-items: center;
    width: 300px; /* Ajusta el ancho del div según tus necesidades */
    height: 400px; /* Ajusta la altura del div según tus necesidades */
    background: #313A51;
}
   
  
button {
    background-color: #2E3A59; /* Cambia este valor al color que desees */
    flex: 1;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid #ccc;
    color: #fff; /* Cambia el color del texto a blanco o el contraste deseado */
    margin: 5px 0;
  }
  
  .operator {
    background-color: #fcb300;
  }
  
  .button:active {
    transform: scale(0.95);
  }
  